html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("img/pozadie.png")
}
div.uvod {
    font-size: 20px;
    height: 100%;
    width: 100%;
}
img {
    width: 400px;
}
img#pc {
    float: right;
    width: auto;
}
span {
    position: relative;
    top: 20px;
}
span#ceny {
    color: #ff0000;
    font-size: 30px;
    top: 0px;
}
div.tabulka {
    position: relative;
}
div.galeria {
    position: relative;
    float: none;
}
div.A01 {
    position: relative;
    float: left;
}
div.A02 {
    position: relative;
    float: left;
}
img#pc2 {
    height: 300px;
}